Practica_5/Practica_5_RPi.json
[
    {
        "id": "4a05b78.e87e548",
        "type": "tab",
        "label": "Practica_5",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a59e5403.85b908",
        "type": "http in",
        "z": "4a05b78.e87e548",
        "name": "Obtiene comando",
        "url": "/status",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "507df798.9be878"
            ]
        ]
    },
    {
        "id": "507df798.9be878",
        "type": "function",
        "z": "4a05b78.e87e548",
        "name": "Interruptor transmisión",
        "func": "// Carga la variable de flujo de estado y el comando recibido del ordenador\nvar status = flow.get('st');\nvar status_pay = msg.payload['Status'];\n\n// Flujo para determinar el estado siguiente y devolver la respuesta\nif (status=='1' & status_pay=='1'){\n    msg.payload['Resp'] = 'Ya estaba encendido';\n} else if (status=='1' & status_pay=='0'){\n    msg.payload['Resp'] = 'Se ha apagado';\n    msg.payload['Status'] = '0';\n} else if (status=='0' & status_pay=='0'){\n    msg.payload['Resp'] = 'Ya estaba apagado';\n} else if (status=='0' & status_pay=='1'){\n    msg.payload['Resp'] = 'Se ha encendido';\n    msg.payload['Status'] = '1';\n}\nreturn msg;\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 220,
        "wires": [
            [
                "56e4a346.b80fbc"
            ]
        ]
    },
    {
        "id": "56e4a346.b80fbc",
        "type": "change",
        "z": "4a05b78.e87e548",
        "name": "Modifica variables",
        "rules": [
            {
                "t": "set",
                "p": "st",
                "pt": "flow",
                "to": "payload['Status']",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload['Resp']",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 220,
        "wires": [
            [
                "6f99a8d2.926508"
            ]
        ]
    },
    {
        "id": "6f99a8d2.926508",
        "type": "http response",
        "z": "4a05b78.e87e548",
        "name": "Ok",
        "statusCode": "200",
        "headers": {},
        "x": 750,
        "y": 220,
        "wires": []
    },
    {
        "id": "b656ab1e.a121a8",
        "type": "inject",
        "z": "4a05b78.e87e548",
        "name": "Inyección cíclica",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 190,
        "y": 80,
        "wires": [
            [
                "9f67b88d.b24758"
            ]
        ]
    },
    {
        "id": "9f67b88d.b24758",
        "type": "function",
        "z": "4a05b78.e87e548",
        "name": "Generador de temperatura",
        "func": "// Carga la variable de flujo Temperatura\nvar temp = flow.get('Temperatura');\n// Aumenta el contador de la temperatura\ntemp += 0.5;\n// Actualiza la variable de flujo\nflow.set('Temperatura', temp);\n\n// Pasa el timestamp a la zona horaria correcta y lo convierte a string\nvar d = Math.round(new Date(msg.payload).getTime()/1000)+2*3600;\nd = new Date(d*1000).toISOString();\n\n// ID del sensor\nvar sensor_id = 31;\n\n// Guarda los datos en el mensaje\nmsg.payload = {Temperature: temp,\n    Timestamp: d,\n    Units: 'ºC',\n    Sensor_Id: sensor_id,\n    reading_Id: msg.payload+sensor_id,\n    magnitud: 'Temperatura'\n};\nreturn msg;\n\n",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 80,
        "wires": [
            [
                "830925a1.a42098"
            ]
        ]
    },
    {
        "id": "f75c6515.3b5ee8",
        "type": "http request",
        "z": "4a05b78.e87e548",
        "name": "Envía el dato por HTTP",
        "method": "GET",
        "ret": "txt",
        "paytoqs": true,
        "url": "172.20.10.3:1880/temp",
        "tls": "",
        "proxy": "",
        "authType": "basic",
        "x": 830,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "5e84f5c7.3d3bdc",
        "type": "inject",
        "z": "4a05b78.e87e548",
        "name": "Inicialización",
        "topic": "",
        "payload": "Start",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "d1e6d4a.8034528"
            ]
        ]
    },
    {
        "id": "d1e6d4a.8034528",
        "type": "change",
        "z": "4a05b78.e87e548",
        "name": "Inic. Temperatura",
        "rules": [
            {
                "t": "set",
                "p": "Temperatura",
                "pt": "flow",
                "to": "25",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "st",
                "pt": "flow",
                "to": "'1'",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "830925a1.a42098",
        "type": "switch",
        "z": "4a05b78.e87e548",
        "name": "",
        "property": "st",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 630,
        "y": 80,
        "wires": [
            [
                "f75c6515.3b5ee8"
            ]
        ]
    }
]
